{%- set reCaptchaContainerId = form.handle ~ '-form-google-recaptcha' -%}

<div id="{{ reCaptchaContainerId }}" class="google-recaptcha-container"></div>

{# We place our custom reCAPTCHA js and inline JS block at the beginning of the page so we can output them in the order we want them to load as Yii gives us no way to output an inline JS block between script tags and we need the inline JS block where it is because the variables it references are available in Twig. #}
{%- set recaptchaJs = view.getAssetManager().getPublishedUrl(
    '@sproutformsgooglerecaptcha/web/assets/recaptcha/dist/js/recaptcha_v2_checkbox.js',
    true) -%}
{%- do view.registerJsFile(recaptchaJs, {
    position: POS_BEGIN,
    defer: true
}) -%}

{# Our class instantiates all reCAPTCHAs on the page because we only want to load the
   Google reCAPTCHA API resource file once and it only has a single callback. #}
{% js at beginBody %}
    if (typeof sproutFormsRecaptchaOnloadCallback === 'undefined') {
    var sproutFormsRecaptchaOnloadCallback = function() {
    new SproutFormsGoogleRecaptchaCheckbox({
    siteKey: '{{ settings.siteKey }}',
    theme: '{{ settings.theme }}',
    size: '{{ settings.size }}',
    customValidityText: "{{ 'Please fill out this field.'|t('sprout-forms-google-recaptcha') }}",
    grecaptcha: grecaptcha
    });
    };
    };
{% endjs %}

{# reCAPTCHA logic. Must come after `sproutFormsRecaptchaOnloadCallback` js above. #}
{%- do view.registerJsFile('https://www.google.com/recaptcha/api.js?onload=sproutFormsRecaptchaOnloadCallback&render=explicit&hl=' ~ languageId, {
    async: true,
    defer: true
}) -%}

{% if not settings.disableCss %}
    {% css %}
        {# Displays the HTML5 invalid message hint #}
        .g-recaptcha-response {
        display: block !important;
        position: absolute;
        margin: -78px 0 0 0 !important;
        width: 302px !important;
        height: 76px !important;
        z-index: -999999;
        opacity: 0;
        }
    {% endcss %}
{% endif %}