{%- set reCaptchaContainerId = form.handle ~ '-form-google-recaptcha' -%}

<div id="{{ reCaptchaContainerId }}" class="google-recaptcha-container google-recaptcha-badge-{{ settings.badge }}" style="display:none;"></div>

{% if settings.badge == 'inline-text' %}
    <p class="google-recaptcha-inline-text-terms" style="display:none;">{{ "This site is protected by reCAPTCHA and the Google <a href='{privacyUrl}'>Privacy Policy</a> and <a href='{termsUrl}'>Terms of Service</a> apply."|t('sprout-forms-google-recaptcha', {
            privacyUrl: 'https://policies.google.com/privacy',
            termsUrl: 'https://policies.google.com/terms'
        })|raw }}</p>
{% endif %}

{# We place our custom reCAPTCHA js and inline JS block at the beginning of the page so we can output them in the order we want them to load as Yii gives us no way to output an inline JS block between script tags and we need the inline JS block where it is because the variables it references are available in Twig. #}
{%- set recaptchaJs = view.getAssetManager().getPublishedUrl(
    '@sproutformsgooglerecaptcha/web/assets/recaptcha/dist/js/recaptcha_v2_invisible.js',
    true) -%}
{%- do view.registerJsFile(recaptchaJs, {
    position: POS_BEGIN,
    defer: true
}) -%}

{# Our class instantiates all reCAPTCHAs on the page because we only want to load the
   Google reCAPTCHA API resource file once and it only has a single callback. #}
{% js at beginBody %}
    if (typeof sproutFormsRecaptchaOnloadCallback === 'undefined') {
    var sproutFormsRecaptchaOnloadCallback = function() {
    new SproutFormsGoogleRecaptchaInvisible({
    siteKey: '{{ settings.siteKey }}',
    size: 'invisible',
    theme: '{{ settings.theme }}',
    badge: '{{ settings.badge }}',
    grecaptcha: grecaptcha
    });
    };
    };
{% endjs %}

{# reCAPTCHA logic. Must come after `sproutFormsRecaptchaOnloadCallback` js above. #}
{%- do view.registerJsFile('https://www.google.com/recaptcha/api.js?onload=sproutFormsRecaptchaOnloadCallback&render=explicit&hl=' ~ languageId, {
    async: true,
    defer: true
}) -%}

{% if settings.badge == 'inline-text' and not settings.disableCss %}
    {% css %}
        {# Hides reCAPTCHA badge, display terms via text instead. See js above. #}
        .grecaptcha-badge {
        visibility: hidden;
        height:0 !important;
        width:0 !important;
        }
    {% endcss %}
{% endif %}